asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
colorama
contourpy
cycler
decorator
defusedxml
docopt
executing
fastjsonschema
filelock
fonttools
fsspec
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
networkx
numpy
opencv-python
packaging
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
polars
polars-runtime-32
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
referencing
requests
rpds-py
scipy
six
soupsieve
stack-data
sympy
tinycss2
torch
torchvision
tornado
traitlets
typing_extensions
ultralytics
ultralytics-thop
urllib3
wcwidth
webencodings
yarg
